

.fa-user-circle{
    font-size:28px;
    padding-right: 30px;
}

.fa-home{
  
   padding-right: 60px;
   padding-left: 100px;
   font-size:30px;
    }
.ml-auto{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}
